# H1: Data Science Tools and Ecosystem

**Objectives** :

List  popular languages in data science

- Python
- java
- SQL

# In this notebook Data Science Tools and eco system are summerized

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. SQL
4. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. keras

| Data Science Tools |
 --------------------
|   Python           |
|   R                |
|   SQL              |

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [25]:
# This a simple arithmetic expression to mutiply then add integers

(3+4)*5

35

In [27]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## H2: Author
Saketh Odela